#body{
    background-color: #0f0617;
    color: #d8d8d8;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
   

}

    

h1{
    text-align: center;
    color: #d8d8d8;
    font-size: 30px;
}
.para{
    
    width: 80%;
    margin: auto;
    height:400px;
    margin-top: 20px;
}




